# ignoring node modules
/client/node_modules
/server/node_modules
apk/node_modules/

# ignoring build files
/client/dist
/server/dist

# ignoring .env files
/client/.env
/client/.env.production
/server/.env
/server/.env.production

# ignoring .DS_Store files
.DS_Store

# PHP storm project files
.idea/
/client/dist/
